#getCountryName{
   
}

#wrapperId{
    border: 1px solid black;
    /*background-color: yellow;*/
}
#paragraph{
    font-size: 20px;
}



button:hover{
    background-color: aquamarine;
}

button{
      height: 52px;
    }

    #getCountryProperty{
        height: 50;
    }
img{
    height: 61px;
    width: 156px;
    /*text-align: center;*/
   line-height: 61px;
   text-align: center;
	
}
#loopDiv{
    /*width: 1269px;*/
    text-align: center;
    /*height: 100px;*/
    line-height: 100px;
  }
   singleDiv{
    display: flex;
    justify-items: auto;
  }
  ul{
      font-size: 0;
  }
  li{
      font-size: 12px;
  }