#getCountryName{
   
}

#wrapperId{
    border: 1px solid black;
    background-color: yellow;
}
#paragraph{
    font-size: 20px;
}



button:hover{
    background-color: aquamarine;
}

button{
      height: 52px;
    }

    #getCountryProperty{
        height: 50;
    }
