#getCountryName{
   
}

#wrapperId{
    border: 1px solid black;
    background-color: yellow;
}
#paragraph{
    font-size: 20px;
}



button:hover{
    background-color: aquamarine;
}

button{
      height: 52px;
    }

    #getCountryProperty{
        height: 50;
    }
img{
    height:20px;
    width: 20px;
    text-align: center;
    margin-top: 15px;
}
#loopDiv{
    width: 1269px;
    text-align: center;
   height: 60px;
    line-height: 60px;
  }