#getCountryName{
   
}

#wrapperId{
    /*border: 1px solid black;*/
    /*background-color: yellow;*/
}
#paragraph{
    font-size: 20px;
    text-align: center;
    font-size: 24px;
}



button:hover{
    background-color: aquamarine;
    color: black;
}

button{
      height: 52px;
      background-color: blue;
      color: white;
    }

    #getCountryProperty{
        height: 50;
    }
img{
height: 94px;
width: 156px;
text-align: center;
line-height: 67px;

margin-left: 90px;
	
}
#loopDiv{
    /*width: 1269px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 125px;
    align-items: center;
  }
   singleDiv{
    display: flex;
    justify-items: auto;
  }
  /*ul{
      font-size: 0;
  }*/
  /*li{
      font-size: 12px;
  }*/